@use '../partials/variables.scss' as *;

#what_we_do {

    background-color: var(--corp-land-back-light);

    h6 {
        color: var(--corp-land-danger-light)
    }

    h2 {
        font-size: 3rem;
    }

    .card {

        text-align: center;
        border: none;
        background-color: var(--corp-land-back-light);

        h5 {
            font-weight: bold;
            font-size: 1.5rem;
        }

        img {
            /* padding: 3rem;
            width: 100%;
            aspect-ratio: 1 / 1; */
            padding: 4rem;
            max-height: 300px;
            width: fit-content;
        }
    }
}