:root {
    --corp-land-white: #ffffff;
    --corp-land-light: #bbbbbb;
    --corp-land-attention-dark: #1d3a7e;
    --corp-land-attention-light: #04a4d1;
    --corp-land-danger-light: #f9636b;
    --corp-land-danger-dark: #b6246e;
    --corp-land-dark: #333333;
    --corp-land-back-light: #e0e0e0;
    --corp-land-back-dark: #eeeeee;

}

body {
    overflow-x: hidden;
    font-family: 'PT Sans', sans-serif;
}

.container {
    max-width: 1440px;
}

.btn_attention {

    border: none;
    background: rgb(182, 36, 110);
    background: linear-gradient(90deg, rgba(182, 36, 110, 1) 0%, rgba(249, 99, 107, 1) 100%);
}

.btn_focus {

    border: none;
    background: rgb(4, 164, 209);
    background: linear-gradient(90deg, rgba(4, 164, 209, 1) 0%, rgba(29, 58, 126, 1) 100%);
}

.btn_white {
    background-color: var(--corp-land-white);
    color: var(--corp-land-dark);
    border: none;
}